.home {
	max-width: 1500px;
	margin: 0 auto;
}

.home__row {
	display: flex;
	z-index: 1;
	margin: 0 5px;
}

.home__img {
	width: 100%;
	mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0));
	z-index: -1;
	margin-bottom: -22vw !important;
}

@media only screen and (max-width: 1600px) {
	.home__img {
		margin-bottom: -22vw !important;
	}
}

@media only screen and (max-width: 1500px) {
	.home__img {
		margin-bottom: -25vw !important;
	}
}
