.subtotal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	height: 110px;
	padding: 20px;
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.coupon {
	display: flex;
	align-items: center;
}

.coupon > input {
	margin-top: 10px;
	padding: 5px 10px;
	border: 1px solid rgb(212, 212, 212);
	height: 25px;
	width: 180px;
	border-radius: 8px;
}

.subtotal > button {
	margin: 10px 0 0;
	background: rgb(4, 143, 57);
	border: 1px solid #15ad10;
	border-radius: 8px;
}

.subtotal > button:hover {
	background: rgb(15, 206, 47);
}
